.logos-3m {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/3m-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-grupo-indus {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/elcampirano-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-gpm {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/GPM-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-idento {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/idennto-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-imagen {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/mabe-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-kia {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/kia-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-museo {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/museodelautomovil-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-nissan {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/nissan-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-opticas {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/opticas-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-publicis {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/publicis-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-renault {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/renault-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}

.logos-vivens {
  display: block;
  text-indent: -9999px;
  width: 140px;
  height: 102px;
  background: url(../images/clientes/vivens-8.svg);
  background-size: 140px 102px;
  margin-bottom: 20px;
}
