/* Tamaño s */
@media screen and (max-width: 767px){
   #logo-menu{
       position: absolute;
        top: 25%;
        left: 80%;
        z-index: 999;
        text-align: left;
   }
   #logo-menu img{
        height: 30px;
        width: auto;
   }
   #log-strava{
        position: absolute;top: 90%;left: 5%;z-index: 999;text-align: left;
   }
   #log-strava img{
        height: 30px;
        width: 30px;
   }
   #log-spoty{
        position: absolute;top: 90%;left: 20%;z-index: 999;text-align: left;
    }
    #log-spoty img{
        height: 30px;
        width: 30px;
   }
   #redes{
    position: absolute;
    top: 90%;
    left: 35%;
    z-index: 999;
    text-align: right;
   }
   #redes a{
    color: #fff;
    font-size: 10px;
   }
   #redes ul li{
    display: inline-block;
    margin: 0px 5px;
   }

   .section_title_black h2{
      font-size: 20px;
      letter-spacing: 10px;
   }
   .section_title_white h2{
      font-size: 20px;
      letter-spacing: 10px;
   }
   #purchase-area {
        background: url("../images/parallax/mano.jpg") no-repeat center;
    }
    #amazing-facts-area {
        background: url(../images/parallax/negro.jpg) no-repeat center;
    }
       #team-over{
        width: 92%;
        margin-left: 4%;
    }

}
/* Tamaño m */
@media screen and (min-width: 768px) and (max-width: 991px){
    #logo-menu{
        position: absolute;top: 5%;left: 5%;z-index: 999;text-align: left;
   }
    #log-strava{
        position: absolute;top: 90%;left: 20%;z-index: 999;text-align: left;
    }
    #log-spoty{
        position: absolute;top: 90%;left: 30%;z-index: 999;text-align: left;
    }
    #redes{
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 999;
    text-align: right;
   }
   #redes a{
    color: #fff;
    font-size: 15px;
   }
   #redes ul li{
    display: inline-block;
    margin: 0px 10px;
   }
   #imgBlog{
      height: 55px;
      width: auto;
    }
    #blog28{
      top: 85%;
      right: 2%;
    }
    #purchase-area {
        background: url("../images/parallax/mano.jpg") no-repeat center;
    }
    #amazing-facts-area {
        background: url(../images/parallax/negro.jpg) no-repeat center;
    }
        #team-over{
        width: 96%;
        margin-left: 2%;
    }
}
    
/* Tamaño l */
@media screen and (min-width: 992px) and (max-width: 1199px){
    #logo-menu{
        position: absolute;top: 5%;left: 5%;z-index: 999;text-align: left;
   }
    #log-strava{
        position: absolute;top: 75%;right: 80px;z-index: 999;text-align: left;
    }
    #log-spoty{
        position: absolute;top: 85%;right: 80px;z-index: 999;text-align: left;
    }
    #redes{
      position: absolute;top: 50%;right: -25px;z-index: 999;text-align: right;-webkit-transform: rotate(270deg);transform: rotate(270deg);
    }
    #redes a{
    color: #fff;
    font-size: 15px;
   }
   #imgBlog{
      height: 60px;
      width: auto;
    }
        #purchase-area {
        background: url("../images/parallax/mano.jpg") no-repeat fixed center center / cover;
    }
    #amazing-facts-area {
        background: url(../images/parallax/negro.jpg) no-repeat fixed center center / cover;
    }
        #team-over{
        width: 91.5%;
        margin-left: 4%;
    }
}
/* Tamaño xl */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
    #logo-menu{
        position: absolute;top: 5%;left: 5%;z-index: 999;text-align: left;
   }
   #log-strava{
        position: absolute;top: 75%;right: 105px;z-index: 999;text-align: left;
    }
  #log-spoty{
        position: absolute;top: 85%;right: 105px;z-index: 999;text-align: left;
    }
    #redes{
      position: absolute;top: 50%;right: -14px;z-index: 999;text-align: right;-webkit-transform: rotate(270deg);transform: rotate(270deg);
    }
    #imgBlog{
      height: 70px;
      width: auto;
    }
        #purchase-area {
        background: url("../images/parallax/mano.jpg") no-repeat fixed center center / cover;
    }
    #amazing-facts-area {
        background: url(../images/parallax/negro.jpg) no-repeat fixed center center / cover;
    }
        #team-over{
        width: 92.5%;
        margin-left: 4%;
    }
}

/* Tamaño xxl */
@media screen and (min-width: 1920px){
    #logo-menu{
        position: absolute;top: 5%;left: 5%;z-index: 999;text-align: left;
    }
    #log-strava{
        position: absolute;top: 75%;right: 130px;z-index: 999;text-align: left;
    }
    #log-spoty{
        position: absolute;top: 85%;right: 130px;z-index: 999;text-align: left;
    }
    #redes{
      position: absolute;top: 50%;right: 13px;z-index: 999;text-align: right;-webkit-transform: rotate(270deg);transform: rotate(270deg);
    }
    #imgBlog{
      height: 80px;
      width: auto;
    }
    #purchase-area {
        background: url("../images/parallax/mano.jpg") no-repeat fixed center center / cover;
    }
    #amazing-facts-area {
        background: url(../images/parallax/negro.jpg) no-repeat fixed center center / cover;
    }
        #team-over{
        width: 92.5%;
        margin-left: 4%;
    }
  
}